<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <form class="" action="/register" method="post">
    <h1>Register Here</h1>
    <div class="">
      <label for="">Username</label>
      <input type="text" name="username" value="">
    </div>
    <div class="">
      <label for="">Password</label>
      <input type="password" name="password" value="">
    </div>
    <div class="">
      <button type="submit" name="submitButton">Create New User Account</button>
    </div>
  </form>

</body>

</html>
